body {
    background-color: #dcdcdc;
    padding: 0;
    margin: 0;
    font-family: 'Rubik Marker Hatch', cursive;
}

.name-game {
    width: 100%;
    height: 100px;    
    display: flex;
    justify-content: center;
    align-items: center;
}

.name-game__titel {    
    font-size: 48px;
    color: #20B2AA;
    text-align: center;
}

.field-game {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    justify-content: center;
    margin-right: 200px;
    margin-top: 100px;
}

.field-game__ships {
    width: 200px;
    font-size: 36px;
    color: #20B2AA;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movingShip {
    position: absolute;
    background-color: #20B2AA;;
}

.cellShip {
    background-color: #f08080;
}

.elemShip {
    background-color: #2e8b57;
}

.ships {    
    /*display: flex;*/
}

.ships:hover {
    background-color: #20B2AA;
}

.ships:active {
    background-color: #0e6655;
    transition: background-color 2s;
}

.ships__4 {    
    border: 1px solid #2e8b57;
    margin: 2px;
    width: 135px;
    height: 25px;    
    margin-bottom: 5px;
}

.ships__4-ver {
    width: 25px;
    height: 135px;
}

.ships__3 {
    border: 1px solid #2e8b57;
    margin: 2px;
    width: 100px;
    height: 25px;
    margin-bottom: 5px;
}

.ships__3-ver {
    width: 25px;
    height: 100px;
}

.ships__2 {
    border: 1px solid #2e8b57;
    margin: 2px;
    width: 55px;
    height: 25px;
    margin-bottom: 5px;
}

.ships__2-ver {
    width: 25px;
    height: 55px;
}

.ships__1 {
    border: 1px solid #2e8b57;
    margin: 2px;
    width: 27px;
    height: 25px;
    margin-bottom: 5px;
}

.game {
    display: flex;
    flex-direction: column;
}

.game__field {
    display: flex;
    flex-direction: row;
}

.game__sea {
    width: 500px;
    font-size: 36px;
    color: #20B2AA;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game__sea td {
    width: 30px;
    height: 30px;
    font-size: 16px;
}

.ruler {
    color: #008080;
    border-color: #aaaaaa;
    border: 1px solid #20B2AA;
}

.cell {
    border: 1px solid #20B2AA;
}

.zeroCell {
    border: none;
    background-color: #dcdcdc;
}

.shot {
    background-color: red;   
    transition: background-color 1s;
}

.shot:active {
    background-color: #66cdaa;;
    transition: background-color 2s;
}

.moveCursor {
    background-color: #f08080;
}

.game__status {
        font-size: 36px;
        color: #20B2AA;
        text-align: center;
        margin-top: 50px;
}

.rules__text {
    font-size: 24px;
    color: #20B2AA;
    text-align: center;
    margin-top: 100px;
}