body {
    background-color: #dcdcdc;
    padding: 0;
    margin: 0;
    font-family: 'Rubik Marker Hatch', cursive;
}

.name-game {
    width: 100%;
    height: 100px;    
    display: flex;
    justify-content: center;
    align-items: center;
}

.name-game__titel {    
    font-size: 48px;
    color: #20B2AA;
    text-align: center;
}

.field-game {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    justify-content: center;    
    margin-top: 100px;
}

.field-game__ships {
    width: 200px;
    font-size: 36px;
    color: #20B2AA;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.moving-ship {
    position: absolute;
    background-color: #20B2AA;;
}

.cell-ship {
    background-color: #f08080;
}

.elem-ship {
    background-color: #2e8b57;
}

.ships {    
    background-color: #a4e2df
}

.ships:hover {
    background-color: #20B2AA;
}

.ships:active {
    background-color: #0e6655;
    transition: background-color 2s;
}

.ships__4 {    
    border: 1px solid #2e8b57;
    margin: 2px;
    width: 140px;
    height: 30px;    
    margin-bottom: 5px;
}

.ships__4-ver {
    width: 30px;
    height: 140px;
}

.ships__3 {
    border: 1px solid #2e8b57;
    margin: 2px;
    width: 105px;
    height: 30px;
    margin-bottom: 5px;
}

.ships__3-ver {
    width: 30px;
    height: 105px;
}

.ships__2 {
    border: 1px solid #2e8b57;
    margin: 2px;
    width: 70px;
    height: 30px;
    margin-bottom: 5px;
}

.ships__2-ver {
    width: 30px;
    height: 70px;
}

.ships__1 {
    border: 1px solid #2e8b57;
    margin: 2px;
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}

.opponent-ship {
    background-color: darkolivegreen;

}

.game {
    display: flex;
    flex-direction: column;
}

.game__field {
    display: flex;
    flex-direction: row;
}

.game__sea {
    width: 500px;
    font-size: 36px;
    color: #20B2AA;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game__sea td {
    width: 30px;
    height: 30px;
    font-size: 16px;
}

.ruler {
    color: #008080;
    border-color: #aaaaaa;
    border: 1px solid #20B2AA;
}

.cell {
    border: 1px solid #20B2AA;
}

.zero-cell {
    border: none;
    background-color: #dcdcdc;
}

.shot-away {
    background-color: #e0f2f1;   
    transition: background-color 0.5s;
}

.shot-wounded {
    background-color: #7e57c2;
    transition: background-color 1s;
}

.shot-sunk {
    background-color: #b71c1c;
    transition: background-color 1s;
}

.shot:active {
    background-color: #66cdaa;;
    transition: background-color 2s;
}

.move-cursor {
    background-color: #fff9c4;
}

.game__status {
    width: 200px;
    font-size: 36px;
    color: #20B2AA;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game__status-buttons {
    display: flex;
    flex-direction: column;    
}

.reload {
    font-family: 'Rubik Marker Hatch', cursive;
    width: 150px;
    height: 100px;
    font-size: 24px;
    color: #20B2AA;
    background-color: #dcdcdc;
    border: 3px solid #20B2AA;
    border-radius: 10px;
    margin: 10px 20px;
}

.reload:hover {
    background-color: #acacac;    
}

.rules {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rules__text {
    font-size: 30px;
    color: #20B2AA;
    text-align: center;
    margin-top: 50px;
    display: flex;
    color: #b1420e;
        flex-direction: column;
        align-items: center;
}

.rules__color {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    color: #20B2AA;
}

.rules__colors-text {
    font-size: 30px;
    width: 480px;
}

.rules__colors-color {
    display: flex;
    flex-direction: row;
}

.rules__shot {
    font-size: 24px;
    width: 150px;
    height: 30px;
    margin: 5px;
    border: 1px solid #20B2AA;
    border-radius: 10px;
}

.field-game__info {
    position: fixed;
    visibility: hidden;
    border: 1px solid red;
    border-radius: 20px;
    background-color: rgba(220, 227, 200, 0.8);
    width: 900px;
    height: 500px;
    margin: auto;
    left: 0;
    right: 0;
    top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.message-info {    
    border-radius: 17px;
    width: 640px;
    height: 200px;
    margin-top: 130px;
    font-size: 96px;
    font-family: 'Rubik Marker Hatch', cursive;
    color: #ff5722;
    text-align: center;
}

.message-button .reload {
    margin-top: 50px;
    width: 450px;
    height: 70px;
    font-size: 40px;
    color: #ff5722;
}
